@model Assignment9.Controllers.ArtistWithContentStringIds

@{
    ViewBag.Title = "DetailWithContentInfo";
    var ArtistName = Model.Name;
    var userAccount = new Assignment9.Controllers.UserAccount(User as System.Security.Claims.ClaimsPrincipal);
    
}

<h2>Details - @ArtistName</h2>
@if (userAccount.HasRoleClaim("Coordinator"))
{
    <p>
        @Html.ActionLink("Create New Album", "AddAlbum") |
        @Html.ActionLink("Create New Media Item", "AddMediaItem")
    </p>
}

<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthName)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthOrStartDate)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.UrlArtist)" alt="artist photo" width="150" height="100" />
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portrayal)
        </dt>
        <dd>
            <div class="panel panel-default panel-body">
                @Html.Raw(Model.Portrayal)
            </div>
        </dd>
        
        <dt>
            Sample Clips
        </dt>
        <dd>
            @foreach(var item in Model.MediaItems.Where(m => m.ContentType.Contains("audio/")))
            {
                <div>
                    <span>@item.Caption</span><br />
                    <audio src="~/MediaItem/@item.StringId" controls="controls"></audio>
                </div>
            }
            <hr />
        </dd>
        <dt>
            Photos
        </dt>
        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("image/")))
            {
                <div>
                    <span>@item.Caption</span><br />
                    <img src="~/MediaItem/@item.StringId" alt="@item.Caption" title="@item.Caption" width="200">
                </div>
            }
            <hr />
        </dd>
        <dt>
            Documents
        </dt>
        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("application/")))
            {
                <div>
                    <span>@item.Caption</span><br />
                    <a href="~/MediaItem/@item.StringId" download>
                        @if(@item.ContentType == "application/vnd.openxmlformats-officedocument.wordprocessingml.document" || @item.ContentType == "application/msword")
                        {
                            <img src="~/Content/Images/image020.png" alt="@item.Caption" title="@item.Caption" />

                        }
                        else if (@item.ContentType == "application/vnd.ms-powerpoint" || @item.ContentType == "application/vnd.openxmlformats-officedocument.presentationml.presentation")
                        {
                            <img src="~/Content/Images/image019.jpg" alt="@item.Caption" title="@item.Caption" />
                        }
                        else if (@item.ContentType == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" || @item.ContentType == "application/vnd.ms-excel")
                        {
                            <img src="~/Content/Images/image021.png" alt="@item.Caption" title="@item.Caption" />
                        }
                        else
                        {
                            <p>Click here to download!</p>
                        }
                    </a>
                </div>
            }
            <hr />
        </dd>
    </dl>
</div>
@if (userAccount.HasRoleClaim("Executive"))
{
    <p>

        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
